.Player {
	position: absolute;
	top: 0;
	left: 0;
	width: 5em;
	height: 5em;
	background-size: cover;                      /* <------ */
    background-repeat: no-repeat;
    background-image: url("Images/idle/frame-1.png");
}
.flapping {
	-webkit-animation-name: flaps;
	-webkit-animation-duration: 0.3s;
	-webkit-animation-iteration-count: infinite;
}
/*.diving {
	-webkit-animation-name: dive;
	-webkit-animation-duration: 3s;
}
@-webkit-keyframes dive {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(90deg);
  }
}
.flying {
	-webkit-animation-name: fly;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-iteration-count: 1;
}
@-webkit-keyframes fly {
  from {
    -webkit-transform: translate(0px) rotate(0deg);
  }
  to { 
    -webkit-transform: translate(100px) rotate(90deg);
  }
}
*/
.Scoreboard {
	position: absolute;
	left: 50%;
	top: 10em;
	height: 30em;
	width: 40em;
	margin-left: -20em;
	box-sizing: border-box;
	background: #E0D897;
	text-align: center;
	border-radius: 10px;
	border-style: solid;
    border-width: 2px;
	-webkit-transform: translate(0, -40em);
	-webkit-transition: -webkit-transform 0.5s;
}
.ScoreboardDelay{
	-webkit-transition-delay: 1s;
}

.SScore {
	font-family: FlappyFont, serif;
	font-size: 2.4em;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.Score {
	position: absolute;
	left: 47%;
	top: -0.5em;
	color: white;
	font-family: FlappyFont;
	font-size: 10em;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.Mute {
	position: absolute;
	width: 5em;
	height: 5em;
	right: 2%;
	top: 2%;
}

video { 
   display:none;
}

/**
* Reset transform to animate it into the correct spot on the screen.
*/
.Scoreboard.is-visible {
	-webkit-transform: none;
}

.Scoreboard-restart {
	margin-top: 1.5em;
	font-size: inherit;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	padding: 0.4em 1.5em;
	border: 0.2em solid;
	background: none;
	cursor: pointer;
}
.Scoreboard-restartText {
font-family: FlappyFont, serif;
font-size: 2.4em;
color: white;
}
body {
background: black;
}
.browsehappy {
margin: 0.2em 0;
background: ?#?ccc?;
color: #000;
padding: 0.2em 0;
}
.GameCanvas {
font-size: 10px;
position: absolute;
left: 50%;
top: 50%;
width: 102.4em;
height: 57.6em;
margin-left: -51.2em;
margin-top: -28.8em;
overflow: hidden;
background: linear-gradient(cyan, white);
}
.Backgrounda {
	width: auto;
	height: 57.6em;
	bottom: 0px;
	position: absolute;
	-webkit-animation: bgslidea 60s linear infinite;
}
.Backgroundb {
	width: auto;
	height: 57.6em;
	bottom: 0px;
	position: absolute;
	-webkit-animation: bgslideb 60s linear infinite;
}
.GameGround {
    width: 1638.40px;
    height: 128px;
    background-image: url("Images/ground.png");
    background-repeat: repeat-x;
    float: bottom;
    position: absolute;
    bottom: 0px;
}

.GameGround.Move {
	-webkit-animation: slide 0.4s linear infinite;
}

.Pipes{
}

.Pipes div{
	position: absolute;
	top: 0;
	left: 0;
	width: 7em;
	height: 40em;
	background-size: cover;                      /* <------ */
    background-repeat: no-repeat;
	background-image: url("Images/pipeNew.png");
}
@-webkit-keyframes flaps{
  from {
    background-image: url("Images/idle/frame-1.png");
  }
  25.0% {
    background-image: url("Images/idle/frame-2.png");
  }
  50.0% {
    background-image: url("Images/idle/frame-3.png");
  }
  75.0% {
    background-image: url("Images/idle/frame-4.png");
  }
  to {
    background-image: url("Images/idle/frame-1.png");
  }
}

@-webkit-keyframes slide {
  from{
      transform: translate(0px);
  }
  to{
      transform: translate(-74px);
  }
}
@-webkit-keyframes bgslidea {
  from{
      transform: translate(153em);
  }
  to{
      transform: translate(0em);
  }
}
@-webkit-keyframes bgslideb {
  from{
      transform: translate(0em);
  }
  to{
      transform: translate(-153em);
  }
}



@font-face {
    font-family: FlappyFont;
    src: url(04B_19__.TTF);
}